.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .main-content {  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
 }
.main-content h2 {
  color: chocolate;
  text-align: center;
}

  
select.custom-select {
  background: #1cd88a;
  border: 1px solid #a10808;  
  border-radius: 4px;
  text-align: center;
  
}



@media (max-width: 600px) {
  .weather {
    font-size: 14px;
  }
}